@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  /* align-content: space-between; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: 'Roboto Mono', ;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul{
  list-style: none;
  text-align: left;
}

nav{
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
}

.App-header {
  /* width: 100%; */
  background-color: #129bbd9a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  min-height: 60vh;
  align-self: center;
}

.sweet-loading{
margin: 10vh auto;
}

.job{
  /* align-content: space-around; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: black;
  box-shadow: rgba(0, 0, 0, 0.502);
}
footer{
  /* align-self: flex-end; */
  text-align: center;
  margin-top: 10vh;
}

.App-link {
  color: #61dafb;
}