@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: 'Roboto Mono';

}
a{
  text-decoration: none;
}
main{
  margin-top: 3vh;
}
.input{
border:solid rgb(97, 94, 94);
border-radius: 25px;
text-align: center;
/* height: 6vh;
width: 24vh; */
font-size: 15px;
}
button{
  border: solid rgb(97, 94, 94);
  border-radius: 25px;
  background-color: #129bbd9a;
  margin-top: 2vh;
  margin-left: 1vw;
  /* height: 7vh;
  width: 8vw; */
  font-size: 15px;
}

ul{
  text-align: left;
}
.logo{
  align-self: flex-start;

}
nav{
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.nav-li{
  margin: 3vh 3vw;
  
}

.App-header {
  /* width: 100%; */
  background-color: #129bbd9a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  min-height: 60vh;
  align-self: center;
}

.sweet-loading{
margin: 10vh auto;
width: 50%;

}

.job{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border:solid grey;
  box-shadow:10px 10px 5px grey;
  margin: 5vh auto;
  padding:2vh;
}

.job-url{
width: 30%;
}
a:hover{
    color: hotpink;
    text-decoration: underline;
}

.job-company{
width:25%;
text-align: center;
}
.job-logo{
width:25%;
text-align: center;
}


footer{
  /* align-self: flex-end; */
  text-align: center;
  margin-top: 10vh;
}

.App-link {
  color: #61dafb;
}