@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.App {
  /* align-content: space-between; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: 'Roboto Mono';

}
a{
  text-decoration: none;
}
.input{
border:solid rgb(97, 94, 94);
border-radius: 25px;
text-align: center;
}
button{
  border: solid rgb(97, 94, 94);
  border-radius: 25px;
  background-color: #129bbd9a;
  margin-top: 10px auto;
}

ul{
  text-align: left;
}

nav{
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
}

.App-header {
  /* width: 100%; */
  background-color: #129bbd9a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  min-height: 60vh;
  align-self: center;
}

.sweet-loading{
margin: 10vh auto;
}

.job{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border:solid grey;
  box-shadow:10px 10px 5px grey;
  margin: 5vh auto;
  padding:2vh;
}
footer{
  /* align-self: flex-end; */
  text-align: center;
  margin-top: 10vh;
}

.App-link {
  color: #61dafb;
}